*.log
.DS_Store
.env
.env.backup
.env.production
.env.beta
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vite
/.vscode
/.zed
/auth.json
/node_modules
/playwright-report
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/backups/*.sqlite
/storage/pail
/test-results
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
